@charset "UTF-8";
/**    index页面以及公共样式   **/
::-webkit-scrollbar {
    display: none;
}

html, body, div, p, a {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

.supreme-head {
    height: 50px;
}

.logo-small {
    width: 30px;
    height: 30px;
    position: absolute;
    background: url("../img/logo-small.png") no-repeat 0 0;
    background-size: 30px;
    margin-top: 10px;
    cursor: pointer;
    display: none;
}

ul {
    list-style: none;
    height: 100%;
}

.supreme-head li {
    line-height: 50px;
    float: left;
}

.supreme-head li a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.supreme-head li a:hover {
    color: rgba(255, 255, 255, .8);
}

.supreme-login-form {
    margin-top: 30px;
}

.supreme-login-form .form-group {
    width: 150px;
    margin: 0 3px;
}

.supreme-login-form .form-control {
    width: 100%;
}

#personalCenter {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background: green;
    display: none;
    margin-top: 10px;
    float: right;
    cursor: pointer;
}

.personalCenter {
    width: 80px;
    background-color: #fff;
    top: 90px;
    right: 0;
    position: absolute;
    border: 1px solid;
    z-index: 10;
}

.personalCenter div {
    cursor: pointer;
    text-align: center;
    margin: 3px 0;
    padding: 3px 0;
    user-select: none;
}

.personalCenter div:first-child {
    margin-top: 0;
}

.personalCenter div:last-child {
    margin-bottom: 0;
}

.personalCenter div:hover {
    background-color: #3e82da;
    color: white;
}

.sa-show {
    display: block !important;
}

.supreme-head-background {
    height: 50px;
    width: 100%;
}

.relative-link {
    user-select: none;
    text-align: center;
}

.relative-link div {
    display: inline-block;
}

.copyright {
    text-align: center;
}

#forgotten {
    display: inline-block;
    text-align: center;
}

#forgotten:hover {
    text-decoration: none;
}

.vin-detail{
    position: absolute;
    display: none;
}

.forgotten-dialogue {
    display: none;
    width: 15vw;
    background-color: #fff;
}

.forgotten-dialogue .content {
    font-size: 1.8rem;
    padding: 5px 30px;
}

.forgotten-dialogue .content > div {
    margin: 10px auto;
}

.validate{
    width: 60%!important;
}

.forgotten-dialogue .content > div:last-child {
    text-align: center;
}

/****  公共样式  ***/

body {
    background-color: #f5f5fa;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.sa-container {
    padding: 0;
    min-width: 1170px;
    max-width: 1920px;
}

.sa-row {
    margin: 0;
}

.sa-col {
    padding: 0;
}

.divide.slim {
    height: 1px;
}

.divide.middle {
    height: 2px;
}

.divide.wide {
    height: 3px;
}

.red {
    background-color: red;
}

.black {
    background-color: #333;
}
