@charset "UTF-8";
/**    index页面以及公共样式   **/
html,body,div,p,a {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

.supreme-head {
    height: 50px;
}

ul {
    list-style: none;
    height: 100%;
}

.supreme-head li {
    line-height: 50px;
    float: left;
}

.supreme-head li a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.supreme-head li a:hover {
    color: rgba(255, 255, 255, .8);
}

.supreme-login-form {
    margin-top: 30px;
}

.supreme-login-form .form-group {
    width: 150px;
    margin: 0 3px;
}

.supreme-login-form .form-control {
    width: 100%;
}

.supreme-head-background{
    height: 50px;
    width: 1920px;
}

.relative-link{
    user-select: none;
    text-align: center;
}
.relative-link div{
    display: inline-block;
}
.copyright{
    text-align: center;
}

/****  公共样式  ***/

body{
    background-color: #f5f5fa;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

.sa-container {
    padding: 0;
    min-width: 1170px;
}

.sa-row {
    margin: 0;
}

.sa-col {
    padding: 0;
}

.divide.slim {
    height: 1px;
}

.divide.middle {
    height: 2px;
}

.divide.wide {
    height: 3px;
}

.red {
    background-color: red;
}

.black {
    background-color: #333;
}
