.sa-handbook-background {
    height: 400px;
    background: url("../img/background/6.png") no-repeat 0 0;
}

.sa-handbook-main {
    position: relative;
    top: -150px;
    margin-bottom: -100px;
}

.select {
    position: relative;
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 325px;
    color: #fff;
    vertical-align: middle;
    text-align: left;
    user-select: none;
}

.select .placeholder {
    position: relative;
    display: block;
    background-color: #393d41;
    z-index: 1;
    padding: .8rem 0;
    border-radius: 2px;
    cursor: pointer;
    text-indent: 1rem;
}

.select .placeholder:hover {
    background: #34383c;
}

.select .placeholder:after {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'FontAwesome', serif;
    content: '\f078';
    z-index: 10;
}

.select.is-open .placeholder:after {
    content: '\f077';
}

.select.is-open ul {
    display: block;
}

.select.select--white .placeholder {
    background: #fff;
    color: #999;
}

.select.select--white .placeholder:hover {
    background: #fafafa;
}

.select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    z-index: 100;
    border: 1px solid rgb(214, 214, 214);
}

.select ul li {
    display: block;
    text-align: left;
    padding: 0.8em 1em 0.8em 1em;
    color: #888;
    cursor: pointer;
    border-bottom: 1px solid rgb(227, 227, 227);
}

.select ul li:last-child {
    border-bottom: 0;
}

.select ul li:hover {
    background: #4ebbf0;
    color: #fff;
}

.downloadFile {
    color: #4ebbf0;
    cursor: pointer;
}

.manualInfo {
    margin-top: 2.4rem;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-align: center;
}
#pdf{
    width: 100%;
    height: 1150px;
}