<!doctype html>
<html lang="zh" ng-app="myApp" ng-controller="indexCtrl">
<head>
    <meta charset="UTF-8"/>
    <base id="base" href="/studentAdmission/index.html">
    <meta name="author" content="Mark Crusoe"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>BISTU——学生管理系统</title>
    <!--common CSS-->
    <link rel="stylesheet" href="res/css/common/bootstrap.min.css">
    <link rel="stylesheet" href="res/css/common/font-awesome.min.css">
    <link rel="stylesheet" href="res/css/common/toastr.min.css">
    <link rel="stylesheet"
          href="http://cache.amap.com/lbs/static/main1119.css"/>
    <link rel="stylesheet" href="res/css/common/tipso.min.css"/>

    <link rel="stylesheet" href="res/css/index.css">

    <!--favicon-->
    <link rel="icon" href="res/img/favicon.ico">
</head>
<body>
                <img src="res/img/logo-word.png" alt="">
            </div>
                <div class="supreme-login-form">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="loginNum">用户名：</label>
                            <input placeholder="用户名" ng-model="login.loginNum" id="loginNum" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="loginPwd">密码：</label>
                            <input placeholder="密码" ng-model="login.loginPwd" type="password" id="loginPwd"
                                   class="form-control sa-tip" data-tipso="默认密码为000000"/>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-info" ng-click="saLogin(login)">登陆</button>
                            <a href="javascript:">忘记密码？</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="supreme-head-background black">
        <div class="container sa-container">
            <div class="row sa-row supreme-head">
                <ul>
                    <li><a href="/studentAdmission">首页</a></li>
                    <li><a href="introduct">学校简介</a></li>
                    <li><a href="#">新闻公告</a></li>
                    <li><a href="#">报道流程</a></li>
                    <li><a href="manual">学生手册</a></li>
                    <li><a href="#">常见问题</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid sa-container">
        <div class="row sa-row">
            <div ng-view=""></div>
        </div>
    </div>
    <div class="container sa-container">
        <div class="row sa-row footer">
            <div class="relative-link">
                <div>相关链接 :</div>
                <div><a href="javascript:">北京信息科技大学主页</a><span> |</span></div>
                <div><a href="javascript:">北京信息科技大学教务处</a><span> |</span></div>
                <div><a href="javascript:">北京信息科技大学学生处</a><span> |</span></div>
            </div>
            <div class="copyright">
                Copyright © 2017 BISTU All Rights Reserved.
            </div>
        </div>
    </div>
</div>
<!--common JS-->
<script src="res/js/common/jquery-3.2.1.min.js"></script>
<script src="res/js/common/angular.min.js"></script>
<script src="res/js/common/angular-route.min.js"></script>
<script src="res/js/common/bootstrap.min.js"></script>
<script src="res/js/common/toastr.min.js"></script>
<script src="res/js/common/pdfobject.min.js"></script>
<script src="res/js/common/tipso.min.js"></script>
<script src="res/js/common/md5.min.js"></script>
<script src="res/js/common/jquery.easyfader.min.js"></script>
<!--高德地图api-->
<script src="http://webapi.amap.com/maps?v=1.4.0&key=86d7e9b2838a66942d8e3665a5049028"></script>

<script src="res/js/app.js"></script>
<script src="res/js/route.js"></script>
<script src="res/js/controller/index-controller.js"></script>
<script src="res/js/controller/introduct-controller.js"></script>


</body>
</html>
