<div class="sa-intro-background-img"></div>
<div class="container sa-container">
    <div class="row sa-row">
        <div class="sa-intro-main">
            <div class="col-sm-2">
                <div id="intro-submenu" class="jquery-accordion-menu blue">
                    <ul id="demo-list">
                        <li data-show-page="sa-school-intro">
                            <a href="javascript:">
                                <i class="fa fa-graduation-cap"></i>
                                学校简介
                            </a>
                        </li>
                        <li data-show-page="sa-school-map">
                            <a href="javascript:">
                                <i class="fa fa-location-arrow"></i>
                                学校地图
                            </a>
                        </li>
                        <li data-show-page="sa-school-history">
                            <a href="javascript:">
                                <i class="fa fa-history"></i>
                                学校历史
                            </a>
                        </li>
                        <li data-show-page="sa-school-photos">
                            <a href="javascript:">
                                <i class="fa fa-picture-o"></i>
                                学校风采
                            </a>
                        </li>
                        <li data-show-page="sa-school-community">
                            <a href="javascript:">
                                <i class="fa fa-users"></i>
                                社团介绍
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <section id="sa-school-intro" class="sa-intro-content">
                    <div class="sa-title">
                        学校简介
                    </div>
                    <div class="sa-content">
                        <p ng-repeat="item in profileContent">
                            {{item}}
                        </p>
                    </div>
                </section>
                <section id="sa-school-map" class="sa-intro-content">
                    <div class="sa-title">
                        学校地图
                    </div>
                    <div class="sa-content">
                        <div class="row sa-row">
                            <div class="col-sm-offset-6 col-sm-6 sa-col">
                                <div class="school-location-button btn btn-info current" data-campus="小营">小营</div>
                                <div class="school-location-button btn btn-default" data-campus="清河">清河</div>
                                <div class="school-location-button btn btn-default" data-campus="健翔桥">健翔桥</div>
                            </div>
                        </div>
                        <div class="row sa-row">
                            <div id="schoolMap" class="school-map"></div>
                        </div>
                        <div class="row sa-row">
                            <div class="address"></div>
                            <div class="zip-code"></div>
                        </div>
                    </div>
                </section>
                <section id="sa-school-history" class="sa-intro-content">
                    <div class="sa-title">
                        学校历史
                    </div>
                    <div class="sa-content">
                        <div class="sa-history"></div>
                    </div>
                </section>
                <section id="sa-school-photos" class="sa-intro-content">
                    <div class="sa-title">
                        学校风采
                    </div>
                    <div class="sa-content">
                        <div class="view-group">
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                        </div>
                        <div class="view-group">
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                        </div>
                        <div class="view-group">
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                        </div>
                        <div class="view-group">
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                        </div>
                        <div class="view-group">
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                            <div class="sa-view">
                                <img src="res/img/schoolViews/1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <section id="sa-school-community" class="sa-intro-content">
                    <div class="sa-title">
                        社团介绍
                    </div>
                    <div class="sa-content">
                        <div class="sa-conmmunity-item" ng-repeat="item in association">
                            <div class="col-sm-3 sa-col">
                                <img ng-src={{item.associationsGraph}} alt="">
                            </div>
                            <div class="col-sm-9 sa-col">
                                <div class="item-title">
                                    {{item.associationsName}}
                                </div>
                                <div class="item-content">
                                    {{item.associationsIntroduction}}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>