<div id="carousel" class="fader sa-carousel">
    <img class="slide" src="res/img/carousel/carousel1.jpg" alt="">
    <img class="slide" src="res/img/carousel/carousel2.jpg" alt="">
    <img class="slide" src="res/img/carousel/carousel3.jpg" alt="">
    <img class="slide" src="res/img/carousel/carousel4.jpg" alt="">
    <img class="slide" src="res/img/carousel/carousel5.jpg" alt="">
    <img class="slide" src="res/img/carousel/carousel6.jpg" alt="">
    <img class="slide" src="res/img/carousel/carousel7.jpg" alt="">
    <div class="fader-controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager-list"></ul>
    </div>
</div>
<div class="container sa-container">
    <div class="row sa-row">
        <div class="col-sm-4">
            <div class="sa-home-info">
                <div class="sa-title">
                    <p class="sa-content sa-homepage-news-content">
                        <a href="news">新闻公告</a>
                    </p>
                    <div class="sa-list" ng-click="setNewsItem(item)" ng-repeat="item in homepageNews">
                        <div class="sa-item">
                            <p><a href="news/detail">{{item.homepageNewsTitle}}</a>{{item.homepageNewsTime}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
            <div class="sa-home-info">
                <div class="sa-title">
                    <p class="sa-content sa-homepage-reporting-content">
                        报道流程
                    </p>
                    <div class="sa-list" ng-click="setReportingPage(item.processLink)" ng-repeat="item in homepageReporting">
                        <div class="sa-item">
                            <p><a href="reporting">{{item.processItem}}</a>{{item.processTime}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>