<div class="sa-news-background"></div>
<div class="container sa-container">
    <div class="row sa-row">
        <div class="sa-news-main">
            <div class="sa-news-item">
                <div class="col-sm-12 sa-col">
                    <div class="item-content">
                        <a href="news/detail" ng-click="setNewsDetail(1);">
                            <div class="news-title">校级理论学习中心组集体学习党的十九大报告</div>
                        </a>
                        <div class="news-time">2017/10/26</div>
                    </div>
                    <div class="item-content">
                        <a href="news/detail" ng-click="setNewsDetail(1);">
                            <div class="news-title">校级理论学习中心组集体学习党的十九大报告</div>
                        </a>
                        <div class="news-time">2017/10/26</div>
                    </div>
                    <div class="item-content">
                        <a href="news/detail" ng-click="setNewsDetail(1);">
                            <div class="news-title">校级理论学习中心组集体学习党的十九大报告</div>
                        </a>
                        <div class="news-time">2017/10/26</div>
                    </div>
                    <div class="item-content">
                        <a href="news/detail" ng-click="setNewsDetail(1);">
                            <div class="news-title">校级理论学习中心组集体学习党的十九大报告</div>
                        </a>
                        <div class="news-time">2017/10/26</div>
                    </div>
                    <div class="item-content">
                        <a href="news/detail" ng-click="setNewsDetail(1);">
                            <div class="news-title">校级理论学习中心组集体学习党的十九大报告</div>
                        </a>
                        <div class="news-time">2017/10/26</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>