<div class="sa-news-background"></div>
<div class="container sa-container">
    <div class="row sa-row">
        <div class="sa-news-main">
            <div class="sa-news-item">
                <div class="col-sm-12 sa-col">
                    <div class="item-content" ng-repeat="item in news" ng-click="setNews(item)">
                        <a href="news/detail">
                            <div class="news-title">{{item.itemTitle}}</div>
                        </a>
                        <div class="news-time">{{item.itemTime}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>