<div class="row sa_row">
    <div class="col-sm-5 sa_col">
        <p class="manualInfo">您当前查看的是：<span ng-click="mannualDownload(manualName);"
                                            class="downloadFile">{{name}}</span></p>
    </div>
    <div class="col-sm-offset-5 col-sm-2 sa_col">
        <div class="select">
            <span class="placeholder">{{name}}</span>
            <ul>
                <li ng-click="setManual(item.manualName);" ng-repeat="item in manuals">{{item.name}}</li>
            </ul>
        </div>
    </div>

</div>
<div class="row sa_row">
    <div id="pdf" style="height: 600px;width: 100%;"></div>
</div>
