<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.2.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
    <!-- 数据源：DriverManagerDataSource -->
    <bean id="ds"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="url"
            value="jdbc:mysql://qdm114473470.my3w.com:3306/qdm114473470_db?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="qdm114473470"/>
        <property name="password" value="supreme123456"/>
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
     </bean>
     <!-- 事务管理：DataSourceTransactionManager -->
     <bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds" />
	</bean>
	<tx:annotation-driven transaction-manager="txManager" />
	
	<!-- 将DataSource注入到JdbcTemplate中 -->
	<bean id="loginDao" class="com.bistu.supreme.dao.impl.LoginDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    	<bean id="rollingGraphDao" class="com.bistu.supreme.dao.impl.RollingGraphDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
     <bean id="handbookDao" class="com.bistu.supreme.dao.impl.HandbookDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean> 
    <bean id="homepageNewsDao" class="com.bistu.supreme.dao.impl.HomepageNewsDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="homepageReportingProcessDao" class="com.bistu.supreme.dao.impl.HomepageReportingProcessDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>
     <bean id="commonProblemDao" class="com.bistu.supreme.dao.impl.CommonProblemDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="schoolPhoneDao" class="com.bistu.supreme.dao.impl.SchoolPhoneDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="studentDao" class="com.bistu.supreme.dao.impl.StudentDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="classMasterDao" class="com.bistu.supreme.dao.impl.ClassMasterDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="studentMessageBoxDao" class="com.bistu.supreme.dao.impl.StudentMessageDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="studentTalkRecordDao" class="com.bistu.supreme.dao.impl.StudentTalkRecordDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="teacherDao" class="com.bistu.supreme.dao.impl.TeacherDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="classDao" class="com.bistu.supreme.dao.impl.ClassDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="schoolAssociationsDao" class="com.bistu.supreme.dao.impl.SchoolAssociationsDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="classWillRecordDao" class="com.bistu.supreme.dao.impl.ClassWillRecordDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="classActivityRecordDao" class="com.bistu.supreme.dao.impl.ClassActivityRecordDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="classStudentAwardRecordDao" class="com.bistu.supreme.dao.impl.ClassStudentAwardRecordDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="classMasterAttendanceRecordDao" class="com.bistu.supreme.dao.impl.ClassMasterAttendanceRecordDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <bean id="checkDormitoryRecordDao" class="com.bistu.supreme.dao.impl.CheckDormitoryRecordDaoImpl">
        <property name="dataSource" ref="ds"></property>
    </bean>
    
    <!-- 通知有关的相关配置 -->
    <bean id="noticeDao" class="com.bistu.supreme.dao.impl.NoticeDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>
    <!-- 发送邮件的相关配置 -->
    <bean id="mailDao" class="com.bistu.supreme.dao.impl.AliyunMailDaoImpl"></bean>
    
    <!-- 宿舍信息相关的配置  -->
    <bean id="DormitoryDao" class="com.bistu.supreme.dao.impl.DormitoryDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>

	<!-- 辅导员相关的配置 -->
	<bean id="InstructorDao" class="com.bistu.supreme.dao.impl.InstructorDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean> 
    <!-- 新闻公告的相关配置 -->
    <bean id="NewsItemDao" class="com.bistu.supreme.dao.impl.NewsItemDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>
    <!-- 学校简介相关的配置 -->
    <bean id="SchoolProfileDao" class="com.bistu.supreme.dao.impl.SchoolProfileDaoImpl">
    	<property name="dataSource" ref="ds"></property>
    </bean>
</beans>